*{
    margin: 0;
    padding: 0;
}
.login-box{
    background: url('../images/bg-logo.jpg') no-repeat  fixed;
    background-size: cover;
}
.login{
    width: 100%;
}

.wrapper{
    width: 460px;
    /* width: -moz-fit-content;
    margin: auto; */
    /* margin-left: 300px; */
    /* padding-left: 12px; */
    margin-top: 12%;
    margin-right: 5%;
    /* position: ; */

    float: right;
}
#nojob{
    float: right;
}

#logo{
    width: 30px;
    height: 27px;
}
.jim{
    width: 100%;
}
#logo-2{
    width: 30px;
    height: 27px;
    margin-top: 11px;
    float: right;
}

.logo-name{
    margin-left: 4px;
    padding: 7px 2px;
    color: rgb(107, 107, 107);
    margin-top: 7px;
    font-size: 11.5pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo-name-2{
    float: right;
    /* margin-left: 4px; */
    margin-right: 5px;
    padding: 5px 2px;
    color: rgb(107, 107, 107);
    margin-top: 7px;
    font-size: 11.5pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-name:hover{
    color: steelblue;
}
.logo-name-2:hover{
    color: steelblue;
}

.con{
    margin-top: 70px;
}

.dash{
    text-align: center;
    
}
#log-dash{
    width: 280px;
    height: 220px;
}
.leaf{
    width: 280px;
}

.jump{
    width: 100%;
    height: 600px;
}

#content{
    width: 100%;
}

.footer .card{
    background: slategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bawah{
    /* margin-top: 20px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4px;
    background: linear-gradient(to right, rgb(204, 134, 192) , rgb(153, 228, 241), rgb(129, 226, 230)); /* Standard syntax */
	background: -webkit-linear-gradient(left, rgb(204, 134, 192) , rgb(153, 228, 241), rgb(129, 226, 230)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgb(204, 134, 192) , rgb(153, 228, 241), rgb(129, 226, 230)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgb(204, 134, 192) , rgb(153, 228, 241), rgb(129, 226, 230)); /* For Firefox 3.6 to 15 */
}

.about{
    text-align: justify;
    
}

#simbol{
    list-style-type: none;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;

}

.white-text{
    margin-top: 20px;
    padding: 7px 8px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-copyright{
    background-color: rgb(224, 231, 238);
    width: 100%;
    height: 55px;
    color: rgb(3, 3, 3);
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(129, 226, 230) , rgb(204, 134, 192) , rgb(153, 228, 241)); /* Standard syntax */
	background: -webkit-linear-gradient(left, rgb(129, 226, 230) , rgb(204, 134, 192) , rgb(153, 228, 241)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgb(129, 226, 230) , rgb(204, 134, 192) , rgb(153, 228, 241)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgb(129, 226, 230) , rgb(204, 134, 192) , rgb(153, 228, 241)); /* For Firefox 3.6 to 15 */
}

.copys{
    padding-top:15px;
    padding-bottom: none;
    margin-left: 19px;
    /* margin-top: 10px; */
  
}

a .done{
    text-decoration: none;
}
.done:hover{
    color: rgb(225, 248, 121);
    text-decoration: none;
}

/* nav */
.xnav{
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    color: rgb(156, 156, 30);
}

.xnav .xmen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    /* color: rgb(15, 80, 63); */
    font-weight: bold;
    text-transform: uppercase;
    /* padding: 10px; */
    margin: 18px;
}
.xnav .x21 .pord a{
    color: rgb(15, 80, 63);
}
.xnav .x21 .pord .xmen:hover{
    color: rgba(202, 223, 82, 0.884);
    text-decoration-line: underline;
}

.jb{
    width: 600px;
    float: left;
    margin-left: -200px;
    padding: 0;
    background: rgba(8, 8, 8, 0.377);
    position: absolute;
    color: rgb(40, 230, 40);
    -moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
    column-gap: 20px;
    border-radius: -1px;
}

.x21 .pord .phil .jb .ask{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 10pt;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    /* background: red; */
}
.x21 .pord .phil .jb .ask:hover{
    color: rgb(255, 230, 0);
}